<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <% if @invitation.attending? %>
      <title>Leuk dat <%= address 'je komt', 'jullie komen' %>!</title>
    <% else %>
      <title>Controleer gegevens</title>
    <% end %>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/icon.jpg" rel="apple-touch-icon"/>
  </head>
  <%= body_tag %>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <h1><a href="/">&larr; Eloy &amp; Dionne trouwen!</a></h1>
            <%= header_links %>
            <hr class="right"/>
          </div>
          <% if @invitation.confirmed? %>
            <% if @invitation.attending? %>
              <h2>Leuk dat <%= address 'je komt', 'jullie komen' %>!</h2>
            <% else %>
              <h2>Jammer dat <%= address 'je niet kunt', 'jullie niet kunnen' %> komen.</h2>
            <% end %>
          <% else %>
            <% if @invitation.attending? %>
              <h2>Klopt dit?</h2>
            <% else %>
              <h2><%= address 'Je hebt', 'Jullie hebben' %> aangegeven niet te kunnen komen. Klopt dit?</h2>
            <% end %>
          <% end %>
          <hr/>
          <div id="content">
            <% if @invitation.attending? %>
              <ul>
                <% summary.each do |line| %>
                  <li><%= line %>
                <% end %>
                <% if @invitation.email.blank? %>
                  <li>Geen email gewenst/opgegeven.</li>
                <% else %>
                  <li>Stuur meer informatie naar: <%= @invitation.email %></li>
                <% end %>
              </ul>
            <% end %>

            <% unless @invitation.confirmed? %>
              <%= update_invitation_form_tag %>
                <a href="/invitations/<%= @invitation.token %>">&larr; terug</a>
                <input type="hidden" name="invitation[confirmed]" value="1" />
                <input type="submit" value="Klopt als een bus!" />
              </form>
            <% end %>
          <hr/>
        </div>

        <span class="small">Website design van <a href="http://jeffkreeftmeijer.com">Jeff Kreeftmeijer</a></span>
      </div>

    </div>
  </body>
</html>
