<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <meta name="description" content="Here comes the title"/>
    <title><%= @invitation.attendees_sentence %>, komen jullie ook op de bruiloft van Eloy &amp; Dionne?</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/icon.jpg" rel="apple-touch-icon"/>
    <script type="text/javascript" src="../../js/zepto.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <h1>
            <a href="/">&larr; Eloy &amp; Dionne trouwen!</a>
            </h1>
            <ul>
              <li><a href="/directions">Waar?</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <hr class="right"/>
          </div>
          <h2><%= @invitation.attendees_sentence %>, komen jullie ook?</h2>
          <hr/>
          <div id="content">
            <p>Eloy en Dionne trouwen en zouden jullie er graag bij hebben!</p>

            <p>Om het feest in goede banen te leiden is het belangrijk dat we weten wie er komen en hoe laat. Dus confirmeer alsjeblieft de onderstaande lijst, of pas hem aan, en geef aan waar jullie bij aanwezig zullen zijn. Of laat alle vakjes leeg indien jullie helemaal niet kunnen.</p>

            <p>
              <form action="/invitations/<%= @invitation.id %>" method="post">
                <fieldset>
                  <label>
                    Wij <input type="text" name="invitation[attendees]" value="<%= @invitation.attendees %>" style="width:90%;" />
                  </label>
                  <span class="small">Scheidt de namen met een komma.</span>
                  <br/>

                  <br/>

                  <input type="hidden" name="invitation[attending_wedding]" value="0" />
                  <label>
                    <input type="checkbox" name="invitation[attending_wedding]" value="1" <%= 'checked="checked"' if @invitation.attending_wedding? %> />
                    zijn om 13:30 bij de bruiloft in de Stopera aanwezig
                  </label>
                  <br/>

                  <input type="hidden" name="invitation[attending_party]" value="0" />
                  <label>
                    <input type="checkbox" id="attending_party_input" name="invitation[attending_party]" value="1" <%= 'checked="checked"' if @invitation.attending_party? %> />
                    we feesten vanaf 15:00 mee in het Flevopark
                  </label>
                  <br/>

                  <%# TODO Only show this if the invitee has indicated they will join the party %>
                  <div id="dinner">
                    <input type="hidden" name="invitation[attending_dinner]" value="0" />
                    <label>
                      <input type="checkbox" id="attending_dinner_input" name="invitation[attending_dinner]" value="1" <%= 'checked="checked"' if @invitation.attending_dinner? %> />
                      lekker, aan de BBQ om 18:00 doen we mee
                    </label>
                    <br/>

                    <div id="vegetarian_dinner">
                      <input type="hidden" name="invitation[vegetarian_dinner]" value="0" />
                      <label>
                        <input type="checkbox" name="invitation[vegetarian_dinner]" value="1" <%= 'checked="checked"' if @invitation.vegetarian_dinner? %> />
                        maar wel vegetarisch!
                      </label>
                      <br/>
                    </div>
                  </div>

                  <br/>

                  <label>
                    Zodra er meer informatie beschikbaar is laat het ons dan weten op het volgende email adres: <input type="text" name="invitation[email]" value="bassie@caravan.es" style="width:56%;" />
                  </label>
                  <br/>

                  <br/>

                  <input type="submit" value="Nu nog even controleren &rarr;" />
                </fieldset>
              </form>
            </p>

            <script type="text/javascript">
              var attending_party_input = $('#attending_party_input');
              var attending_dinner = $('#dinner');
              var attending_dinner_input = $('#attending_dinner_input');
              var vegetarian_dinner = $('#vegetarian_dinner');

              attending_dinner_input.bind('click', function() { this.checked ? vegetarian_dinner.show() : vegetarian_dinner.hide(); });
              attending_dinner_input.attr('checked') ? vegetarian_dinner.show() : vegetarian_dinner.hide();

              attending_party_input.bind('click', function() { this.checked ? attending_dinner.show() : attending_dinner.hide(); });
              attending_party_input.attr('checked') ? attending_dinner.show() : attending_dinner.hide();
            </script>

          </div>
          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>

