<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <meta name="description" content="Here comes the title"/>
    <title><%= @invitation.attendees_sentence %>, <%= address 'kom je', 'komen jullie' %> ook op de bruiloft van Eloy &amp; Dionne?</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/icon.jpg" rel="apple-touch-icon"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <h1>
            <a href="/">&larr; Eloy &amp; Dionne trouwen!</a>
            </h1>
            <ul>
              <li><a href="/directions">Waar?</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <hr class="right"/>
          </div>

          <h2><%= @invitation.attendees_sentence %>, <%= address 'kom je', 'komen jullie' %> ook?</h2>
          <hr/>

          <div id="content">
            <p>Eloy en Dionne trouwen op 1 juni en zouden <%= address 'jou', 'jullie' %> er graag bij hebben!</p>
            <p>Om het feest in goede banen te leiden is het belangrijk dat we <strong>uiterlijk</strong> 4 mei weten wie er komen en hoe laat.</p>
            <hr/>

            <p>
              <% unless @invitation.valid? %>
                <div class="errors">
                  <ul>
                    <% @invitation.errors.each do |attr, message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <%= update_invitation_form_tag %>
                <fieldset>
                  <%# TODO add validation error if this is empty! %>
                  <label>
                    <h3>Wie komt?</h3>
                    <%= textfield :attendees, "width:90%;" %>
                  </label>
                  <span class="small">Scheidt de namen met een komma.</span>
                  <br/>
                  <br/>

                  <h3>Waar <%= address 'ben je', 'zijn jullie' %> bij aanwezig?</h3>

                  <%= checkbox :attending_wedding, 'Bij de bruiloft in de Stopera om 13:30' %>
                  <br/>
                  <%= checkbox :attending_party, 'Bij het feest in het Flevopark vanaf 15:00' %>
                  <br/>

                  <div id="dinner">
                    <%= checkbox :attending_dinner, 'Ook bij het eten (BBQ) om 18:00' %>
                    <br/>
                    <div id="vegetarian_dinner" style="margin-left:16px;">
                      <label>
                        Maar wel vegetarisch voor <%= textfield :vegetarians, "width:16px;" %> personen.
                      </label>
                      <br/>
                    </div>
                  </div>
                  <br/>

                  <p>Zodra er meer informatie beschikbaar is, zoals lokaties en foto's, dan laten we het weten via email.</p>
                  <label>
                    Email adres:<br/>
                    <%= textfield :email, "width:30%;" %>
                  </label>
                  <br/>
                  <br/>

                  <input type="submit" value="Nu nog even controleren &rarr;" />
                </fieldset>
              </form>
            </p>

          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>

